body {
  background-color: antiquewhite;
}
.pointer {
  cursor: pointer;
}
#userTextBox {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  text-transform: capitalize;
}

.gifContainer::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid gray;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkgray;
  opacity: 0.3;
}
